<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientId</key>
	<string>96fa27732ea21b508a24f8599168ed49</string>
	<key>host</key>
	<string>www.webasyst.com</string>
	<key>scope</key>
	<string>blog.site.shop.webasyst</string>
</dict>
</plist>
