<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>clientId</key>
    <string>YOUR_WEBASYSTID_APP_CLIENT_ID_HERE</string>
    <key>host</key>
    <string>www.webasyst.com</string>
    <key>scope</key>
    <string>blog.site.shop.webasyst</string>
</dict>
</plist>
